@page
@model Cafe_DeTerunjing.Pages.Account.RegisterModel
@{

}
<h1>Registration</h1>
<form method="post">
    <h4>Create a new account</h4>
    <hr/>
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control"/>
        <span asp-validation-for="Input.Password"></span>
    </div>

    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password"></span>
    </div>

    <div>
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>

</form>


