@page
@model Cafe_DeTerunjing.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<section class="about" id="about">

    <h3 class="sub-heading"> about us </h3>
    <h1 class="heading"> why choose us? </h1>

    <div class="row">

        <div class="image">
            <img src="images/about-img.png" alt="">
        </div>

        <div class="content">
            <h3>best food in the country</h3>
            <p>Fresh, seasonal ingredients: We source our ingredients from local farmers and purveyors, so you can be sure that our food is always fresh and of the highest quality.</p>
            <p>Exceptional service: Our staff is dedicated to providing you with an exceptional dining experience, from the moment you walk in the door to the moment you leave.</p>
            <p>Our menu features a wide variety of dishes, from classic American fare to modern European cuisine. We also have a number of vegetarian and vegan options available.</p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fas fa-shipping-fast"></i>
                    <span>free delivery</span>
                </div>
                <div class="icons">
                    <i class="fas fa-dollar-sign"></i>
                    <span>easy payments</span>
                </div>
                <div class="icons">
                    <i class="fas fa-headset"></i>
                    <span>24/7 service</span>
                </div>
            </div>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>
