@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This Privacy Policy page describes how CafeDeTerunjing collects and uses your information when you visit our website.</p>
